.container{
    text-align: center;
    background-color: darkred;
    color: white;
    border: 5px dotted black;
    width: 500px;
    height: 500px;
    margin: auto;
}

h1{
    color: white;
}

a{
    color: white;
}

a:hover{
    color: blue;
    font-size: 20px;
}
